<h1>{{title}}</h1>
<p>eres subscriptor</p>
<div class="buttons">
    <button class="btn btn-yes" [disabled]="disabledButtons" (click)="markResponse(true)"> SI</button>
    <button class="btn btn-no" 
     [disabled]="disabledButtons" (click)="markResponse(false)"> NO</button>

</div>